form{
    background-color: rgb(28, 110, 177);
   white-space: initial; 
   line-height: 50px;
 }
 .col-form-label{
    font-weight: bold;
    font-size: 20px;
 }
 .form-control{
    border: 1px solid rgb(245, 44, 13);
    
 }   
 
 /*<style>
 form{
    background-color: aqua;
 }
 .col-form-label{
    font-weight: bold;
    font-size: 20px;
 }
 .form-control{
    border: 1px solid black;
 }
</style> */